<div style="display: flex; background-color: RGB(255,114,0);" >
<h1 style="margin: auto; padding: 30px; ">PRODUIRE UNE ETUDE DE MARCHE</h1>
</div>

OBJECTIF DE CE NOTEBOOK Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire. De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec Markdown d'agrémenter de graphiques Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.1 - Importation des librairies</h3>
</div>

In [99]:
#Importation de la librairie Pandas
import pandas as pd
import numpy as np
import scipy.stats as stats
import seaborn as sns
import re
import matplotlib.pyplot as plt
import plotly.express as px

In [100]:
pip install pycountry

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pycountry in c:\users\kadiatou doucouré\appdata\roaming\python\python311\site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">1.2 - Chargements des fichiers</h3>
</div>

In [101]:
#Importation du fichier Disponibilite Alimentaire_2017.csv
dispo_alim_2017= pd.read_csv('DisponibiliteAlimentaire_2017.csv',delimiter=',')
#Importation du fichier Population_2000_2018.csv
population= pd.read_csv('Population_2000_2018.csv',delimiter=',')
#Importation du fichier PIB.csv
PIB= pd.read_csv('PIB.csv',delimiter=',',encoding='ISO-8859-1')
#Importation du fichier IDH.xls
IDH_2017= pd.read_excel('IDH_2017.xlsx')
#Importation du fichier Stabilité.csv
instabilite= pd.read_csv('instabilite.csv',sep=None, engine='python', encoding='ISO-8859-1')
#Importation du fichier LPI.csv
LPI= pd.read_csv('International_LPI_from_2018.csv',sep=None, engine='python', encoding='ISO-8859-1')

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - ANALYSE EXPLOIRATOIRE</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.1 - Analyse exploiratoire du fichier dispo_alimentaire</h3>
</div>

In [102]:
dispo_alim_2017.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.0,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.0,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.0,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.0,S,Données standardisées

In [103]:
print(dispo_alim_2017['Produit'].unique())

['Blé et produits' 'Riz et produits' 'Orge et produits' 'Maïs et produits'
 'Seigle et produits' 'Avoine' 'Millet et produits' 'Sorgho et produits'
 'Céréales, Autres' 'Pommes de Terre et produits' 'Ignames' 'Racines nda'
 'Sucre, canne' 'Sucre, betterave' 'Sucre Eq Brut' 'Edulcorants Autres'
 'Miel' 'Haricots' 'Pois' 'Légumineuses Autres et produits'
 'Noix et produits' 'Soja' 'Arachides Decortiquees' 'Graines de tournesol'
 'Graines Colza/Moutarde' 'Graines de coton' 'Coco (Incl Coprah)' 'Sésame'
 'Olives' 'Plantes Oleiferes, Autre' 'Huile de Soja' "Huile d'Arachide"
 'Huile de Tournesol' 'Huile de Colza&Moutarde' 'Huile Graines de Coton'
 'Huile de Palmistes' 'Huile de Palme' 'Huile de Coco' 'Huile de Sésame'
 "Huile d'Olive" 'Huile de Son de Riz' 'Huile de Germe de Maïs'
 'Huil Plantes Oleif Autr' 'Tomates et produits' 'Oignons'
 'Légumes, Autres' 'Oranges, Mandarines' 'Citrons & Limes et produits'
 'Pamplemousse et produits' 'Agrumes, Autres' 'Bananes'
 'Pommes et produits' 'Ananas et produits' 'Dattes' 'Raisin'
 'Fruits, Autres' 'Café et produits' 'Feve de Cacao et produits' 'Thé'
 'Poivre' 'Piments' 'Girofles' 'Épices, Autres' 'Vin' 'Bière'
 'Boissons Fermentés' 'Boissons Alcooliques' 'Alcool, non Comestible'
 'Viande de Bovins' "Viande d'Ovins/Caprins" 'Viande de Suides'
 'Viande de Volailles' 'Viande, Autre' 'Abats Comestible' 'Beurre, Ghee'
 'Crème' 'Graisses Animales Crue' 'Oeufs' 'Lait - Excl Beurre'
 'Poissons Eau Douce' 'Aliments pour enfants' 'Miscellanees'
 'Manioc et produits' 'Patates douces' 'Palmistes' 'Bananes plantains'
 'Huiles de Poissons' 'Huiles de Foie de Poisso' 'Perciform'
 'Poissons Pelagiques' 'Poissons Marins, Autres' 'Crustacés'
 'Cephalopodes' 'Mollusques, Autres' 'Animaux Aquatiques Autre'
 'Plantes Aquatiques' 'Sucre non centrifugé' 'Viande de Anim Aquatiq']

In [104]:
df_volaille= dispo_alim_2017[dispo_alim_2017['Produit']=='Viande de Volailles']
df_volaille.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.0,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.0,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.0,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.0,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.0,S,Données standardisées

In [105]:
df_pivot = df_volaille.pivot(index=['Zone','Année'],columns=['Élément'],values='Valeur').fillna(0).reset_index()
colonnes_a_garder = ['Zone','Disponibilité intérieure','Exportations - Quantité','Importations - Quantité','Nourriture','Production']
df_dispo_alim_vf = df_pivot[colonnes_a_garder]
df_dispo_alim_vf.head()

Élément,Zone,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production
0,Afghanistan,57.0,0.0,29.0,55.0,28.0
1,Afrique du Sud,2118.0,63.0,514.0,2035.0,1667.0
2,Albanie,47.0,0.0,38.0,47.0,13.0
3,Algérie,277.0,0.0,2.0,264.0,275.0
4,Allemagne,1739.0,646.0,842.0,1609.0,1514.0

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.2 - Analyse exploiratoire du fichier Population</h3>
</div>

In [106]:
population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [134]:
df_pop_2017_2018= population[population['Année'].isin([2017, 2018])]
df_pop_2017_2018['Année'].unique()
df_pivot_pop= df_pop_2017_2018.pivot(index=['Zone'],columns=['Année'],values='Valeur').fillna(0).reset_index()
df_pivot_pop['Variation_population']=round((df_pivot_pop[2018] - df_pivot_pop[2017]) / df_pivot_pop[2017] * 100,2)
df_pivot_pop_vf=df_pivot_pop[['Zone','Variation_population']]
df_pivot_pop_vf.head()

Année            Zone  Variation_population
0         Afghanistan                  2.41
1      Afrique du Sud                  1.37
2             Albanie                 -0.05
3             Algérie                  2.03
4           Allemagne                  0.56

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.3 - Analyse exploiratoire du fichier PIB</h3>
</div>

In [108]:
PIB['Zone'] = PIB['Zone'].apply(lambda x: x.encode('latin1').decode('utf-8') if isinstance(x, str) else x)
PIB.head()

,ï»¿Code Domaine,Domaine,Code zone (M49),Zone,Code ÃlÃ©ment,ÃlÃ©ment,Code Produit,Produit,Code annÃ©e,AnnÃ©e,UnitÃ©,Valeur,Symbole,Description du Symbole,Note
0,FS,DonnÃ©es de la sÃ©curitÃ© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2002,2002,Int$/cap,1806.2,X,Ciffre de sources internationales,NaN
1,FS,DonnÃ©es de la sÃ©curitÃ© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2003,2003,Int$/cap,1823.0,X,Ciffre de sources internationales,NaN
2,FS,DonnÃ©es de la sÃ©curitÃ© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2004,2004,Int$/cap,1777.5,X,Ciffre de sources internationales,NaN
3,FS,DonnÃ©es de la sÃ©curitÃ© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2005,2005,Int$/cap,1907.6,X,Ciffre de sources internationales,NaN
4,FS,DonnÃ©es de la sÃ©curitÃ© alimentaire,4,Afghanistan,6126,Valeur,22013,"PIB par habitant, ($ PPA internationaux consta...",2006,2006,Int$/cap,1928.3,X,Ciffre de sources internationales,NaN

In [109]:
PIB_clean = PIB.rename(columns={'AnnÃ©e': 'Annee'})
df_PIB_2017 = PIB_clean[PIB_clean['Annee'] == 2017]
colonnes_a_garder = ['Zone','Valeur']
PIB_2017 = df_PIB_2017[colonnes_a_garder]
PIB_2017.columns=['Zone','PIB']
PIB_2017.head()

               Zone      PIB
15      Afghanistan   2956.8
37   Afrique du Sud  14823.6
60          Albanie  14229.3
83          Algérie  13805.4
106       Allemagne  61563.6

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.4 - Analyse exploiratoire du fichier IDH</h3>
</div>

In [110]:
IDH_2017.head()

,countryIsoCode,country,indexCode,index,dimension,indicatorCode,indicator,year,value,note
0,AFG,Afghanistan,HDI,Human Development Index,NaN,eys,Expected Years of Schooling (years),2017,10.519565,NaN
1,AFG,Afghanistan,HDI,Human Development Index,NaN,gnipc,Gross National Income Per Capita (2021 PPP$),2017,2783.873555,NaN
2,AFG,Afghanistan,HDI,Human Development Index,NaN,hdi,Human Development Index (value),2017,0.496000,NaN
3,AFG,Afghanistan,HDI,Human Development Index,NaN,le,Life Expectancy at Birth (years),2017,62.406000,NaN
4,AFG,Afghanistan,HDI,Human Development Index,NaN,mys,Mean Years of Schooling (years),2017,2.412873,NaN

In [137]:
IDH= IDH_2017[IDH_2017['indicator']=='Human Development Index (value)']
df_IDH = IDH.rename(columns={'country': 'Zone','value':'IDH'})
colonnes_a_garder = ['Zone','IDH']
df_IDH = df_IDH[colonnes_a_garder]
df_IDH.columns=['Zone','IDH']
df_IDH.head()

                    Zone    IDH
2            Afghanistan  0.496
7                 Angola  0.610
12               Albania  0.798
17               Andorra  0.873
22  United Arab Emirates  0.884

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.5 - Analyse exploiratoire du fichier Instabilité Politique</h3>
</div>

In [112]:
instabilite.head()

,Series Name,Series Code,Country Name,Country Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Control of Corruption: Estimate,CC.EST,Afghanistan,AFG,-1.36493408679962,-1.35471308231354,-1.54022777080536,-1.53007459640503,-1.50287592411041,-1.41931009292603,-1.49336087703705,-1.15226578712463,-1.18368434906006,-1.15493178367615
1,Control of Corruption: Estimate,CC.EST,Albania,ALB,-0.5865718126297,-0.54514080286026,-0.472373723983765,-0.481386840343475,-0.546018898487091,-0.564274072647095,-0.573538780212402,-0.577179968357086,-0.408189445734024,-0.332218527793884
2,Control of Corruption: Estimate,CC.EST,Algeria,DZA,-0.61311799287796,-0.639462769031525,-0.673700511455536,-0.598896265029907,-0.658903956413269,-0.656169533729553,-0.666826963424683,-0.635961413383484,-0.638041079044342,-0.589308321475983
3,Control of Corruption: Estimate,CC.EST,American Samoa,ASM,1.2206939458847,1.15172910690308,1.15941143035889,1.76228725910187,1.78064966201782,1.78022909164429,1.26545393466949,1.2796870470047,1.27027237415314,1.25135612487793
4,Control of Corruption: Estimate,CC.EST,Andorra,AND,1.2206939458847,1.15172910690308,1.15941143035889,1.17178130149841,1.17894005775452,1.17618942260742,1.26545393466949,1.2796870470047,1.27027237415314,1.25135612487793

In [113]:
df_instabilite=instabilite[instabilite['Series Name']=='Political Stability and Absence of Violence/Terrorism: Percentile Rank']
colonne_a_conserver=['Country Name','2017 [YR2017]']
df_instabilite_vf=df_instabilite[colonne_a_conserver]
df_instabilite_vf.columns=['Country Name','2017 [YR2017]']
df_instabilite_vf = df_instabilite_vf.rename(columns={'Country Name': 'Zone','2017 [YR2017]':'Indice stabilite'})
# Insérer la colonne stabilité poilique
df_instabilite_vf['Indice stabilite'] = pd.to_numeric(df_instabilite_vf['Indice stabilite'], errors='coerce')
def classifier_stabilite(valeur):
    if valeur >= 80:
        return "Très stable"
    elif valeur >= 60:
        return "Stable"
    elif valeur >= 40:
        return "Moyenne"
    elif valeur >= 20:
        return "Instable"
    else:
        return "Très instable"
df_instabilite_vf = df_instabilite_vf.copy()
df_instabilite_vf['Stabilité politique'] = df_instabilite_vf['Indice stabilite'].apply(classifier_stabilite)
df_instabilite_vf.head()

                Zone  Indice stabilite Stabilité politique
2996     Afghanistan          0.476190       Très instable
2997         Albania         59.523811             Moyenne
2998         Algeria         15.714286       Très instable
2999  American Samoa         91.904762         Très stable
3000         Andorra         97.142860         Très stable

In [114]:
import pycountry
from babel import Locale
# Définir la locale française
locale_fr = Locale('fr')
# Traduction directe sans fonction
df_instabilite_vf['Zone_fr'] = df_instabilite_vf['Zone'].apply(
    lambda x: locale_fr.territories.get(pycountry.countries.get(name=x).alpha_2) if pycountry.countries.get(name=x) else x
)

In [115]:
df_instabilite_vf.head()

                Zone  Indice stabilite Stabilité politique            Zone_fr
2996     Afghanistan          0.476190       Très instable        Afghanistan
2997         Albania         59.523811             Moyenne            Albanie
2998         Algeria         15.714286       Très instable            Algérie
2999  American Samoa         91.904762         Très stable  Samoa américaines
3000         Andorra         97.142860         Très stable            Andorre

In [118]:
df_instabilite_final = df_instabilite_vf[['Zone_fr', 'Stabilité politique']]
df_instabilite_final = df_instabilite_final.rename(columns={'Zone_fr': 'Zone'})
df_instabilite_final.head()

                   Zone Stabilité politique
2996        Afghanistan       Très instable
2997            Albanie             Moyenne
2998            Algérie       Très instable
2999  Samoa américaines         Très stable
3000            Andorre         Très stable

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">2.6 - Analyse exploiratoire du fichier Indice de Performance Logistique</h3>
</div>

In [117]:
LPI.head()

,Country,Code,Infrastructure score,Infrastructure rank,Logistics quality and competence score,Logistics quality and competence rank,Tracking and tracing score,Tracking and tracing rank
0,Germany,DEU,"4,37",1,"4,31",1,"4,24",2
1,Sweden,SWE,"4,24",3,"3,98",10,"3,88",17
2,Belgium,BEL,"3,98",14,"4,13",2,"4,05",9
3,Austria,AUT,"4,18",5,"4,08",6,"4,09",7
4,Japan,JPN,"4,25",2,"4,09",4,"4,05",10

In [127]:
df_LPI= LPI[['Country','Logistics quality and competence rank', 'Tracking and tracing rank']]
df_LPI = df_LPI.copy()
df_LPI.loc[:,'Zone'] = df_LPI['Country'].apply(
    lambda x: locale_fr.territories.get(pycountry.countries.get(name=x).alpha_2) if pycountry.countries.get(name=x) else x
)
df_LPI.head()

,Country,Logistics quality and competence rank,Tracking and tracing rank,Zone
0,Germany,1,2,Allemagne
1,Sweden,10,17,Suède
2,Belgium,2,9,Belgique
3,Austria,6,7,Autriche
4,Japan,4,10,Japon

In [132]:
df_LPI_vf=df_LPI[['Logistics quality and competence rank','Tracking and tracing rank','Zone']]
df_LPI_vf.rename(columns={"Logistics quality and competence rank":"Rang qualité logistique","Tracking and tracing rank":"Rang trançabilité produits"})
df_LPI_vf.head()

   Logistics quality and competence rank  Tracking and tracing rank       Zone
0                                      1                          2  Allemagne
1                                     10                         17      Suède
2                                      2                          9   Belgique
3                                      6                          7   Autriche
4                                      4                         10      Japon

<div style="background-color: RGB(51,165,182);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Jonction des fichiers</h2>
</div>

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 3.1 - Jonction du fichier dispo_alimentaire, population, PIB, IDH, Instabilité politique et LPI</h3>
</div>

In [141]:
df_final = df_pivot_pop_vf.merge(df_dispo_alim_vf, on="Zone", how="left")\
               .merge(PIB_2017, on="Zone", how="left")\
               .merge(df_IDH, on="Zone", how="left")\
               .merge(df_instabilite_final, on="Zone", how="left")\
               .merge(df_LPI_vf, on="Zone", how="left")
df_final.fillna(0,inplace=True)

In [142]:
df_final.head()

,Zone,Variation_population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,PIB,IDH,Stabilité politique,Logistics quality and competence rank,Tracking and tracing rank
0,Afghanistan,2.41,57.0,0.0,29.0,55.0,28.0,2956.8,0.496,Très instable,158.0,159.0
1,Afrique du Sud,1.37,2118.0,63.0,514.0,2035.0,1667.0,14823.6,0.000,Instable,39.0,35.0
2,Albanie,-0.05,47.0,0.0,38.0,47.0,13.0,14229.3,0.000,Moyenne,92.0,95.0
3,Algérie,2.03,277.0,0.0,2.0,264.0,275.0,13805.4,0.000,Très instable,113.0,103.0
4,Allemagne,0.56,1739.0,646.0,842.0,1609.0,1514.0,61563.6,0.000,Stable,1.0,2.0

In [143]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Zone                                   236 non-null    object
 1   Variation_population                   236 non-null    float64
 2   Disponibilité intérieure               236 non-null    float64
 3   Exportations - Quantité                236 non-null    float64
 4   Importations - Quantité                236 non-null    float64
 5   Nourriture                             236 non-null    float64
 6   Production                             236 non-null    float64
 7   PIB                                    236 non-null    float64
 8   IDH                                    236 non-null    float64
 9   Stabilité politique                    236 non-null    object
 10  Logistics quality and competence rank  236 non-null    float64
 11  Tracking and tracing rank              236 non-null    float64
dtypes: float64(10), object(2)
memory usage: 22.3+ KB

In [144]:
df_final.describe()

,Variation_population,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Production,PIB,IDH,Logistics quality and competence rank,Tracking and tracing rank
count,236.000000,236.000000,236.000000,236.000000,236.00000,236.000000,236.000000,236.000000,236.000000,236.000000
mean,1.174237,495.300847,75.614407,64.491525,473.29661,516.237288,19276.696186,0.169911,42.682203,42.292373
std,1.202109,1880.397972,393.468385,163.342702,1835.79130,2134.243838,24737.860665,0.300041,52.425313,52.094792
min,-3.920000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.365000,0.000000,0.000000,0.000000,0.00000,0.000000,2119.850000,0.000000,0.000000,0.000000
50%,1.050000,41.000000,0.000000,5.000000,41.00000,20.000000,9778.350000,0.000000,9.500000,10.500000
75%,1.947500,202.750000,4.000000,40.500000,197.50000,168.750000,28241.075000,0.392000,86.250000,80.500000
max,5.410000,18266.000000,4223.000000,1069.000000,18100.00000,21914.000000,135547.000000,0.935000,160.000000,160.000000

<div style="border: 1px solid RGB(51,165,182);" >
<h3 style="margin: auto; padding: 20px; color: RGB(51,165,182); ">Etape 3.2 - Mettre à disposition la nouvelle table sur un fichier Excel pour le nouveau notebook</h3>
</div>

In [145]:
# Exporter en CSV avec séparateur virgule
df_final.to_csv("fichier_final.csv", index=False, sep=",")